* {
  font-family: "Poppins", sans-serif;
}

.container{
  margin: 0 auto;
  padding: 2rem;
}



.libre-font {
  font-family: 'Libre Baskerville', serif;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}



.swiper-pagination-bullet {
  border-radius: 999px;
  width: 2.5rem;
  height: 3px;
  background: #aaa;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #2c2c2c;
}



/* Add your custom styles here */

.accordion-item:not(.open) .accordion-collapse {
  display: none;
}