@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.libre-font{
  font-family: 'Libre Baskerville', serif;
}
.montserrat-font{
  font-family: 'Montserrat', sans-serif;
}

.inter-font{
  font-family: 'Inter', sans-serif;
}

.white-btn {
  @apply text-main bg-white border border-main rounded-full py-4 px-8 inline-block;
}
.main-btn{
  @apply text-white bg-main border border-main rounded-full py-4 px-14 inline-block font-medium lg:font-bold text-base lg:text-xl;
}


.section-subheading {
  @apply text-base md:text-xl  tracking-[3px] pb-3 md:pb-4 uppercase font-medium;
}

.section-heading{
  @apply text-[27px] md:text-[40px]  font-semibold
}

.post-title{
  @apply text-xl md:text-2xl font-medium text-white pb-5
}

.post-description {
   @apply text-[#D4D4D4] text-sm pb-2
}

 .swiper-pagination-bullet {
  @apply rounded-full w-10;
   height: 3px;
   background: #aaa;
   opacity: 1;
 }

 .swiper-pagination-bullet-active {
   background: #2c2c2c;
 }



 /* Add your custom styles here */





 .accordion-item:not(.open) .accordion-collapse {
   display: none;
 }